@model IEnumerable<BuscaPatasFinal.ViewModels.AnimalViewModel>

<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ashion Template">
    <meta name="keywords" content="Ashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BuscaPatas | Cães</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="~/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/style.css" type="text/css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ol@v10.1.0/ol.css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__close">+</div>
        <ul class="offcanvas__widget">
            <li>
                <a href="#">
                    <span class="icon_profile" data-bs-toggle="modal"
                          data-bs-target="#authModal"></span>
                </a>
            </li>
            <li><span class="icon_search search-switch"></span></li>
            <li>
                <a href="#">
                    <span class="icon_heart_alt"></span>
                    <div class="tip">2</div>
                </a>
            </li>
        </ul>
        <div class="offcanvas__logo">
            <a href="~/index.html"><img src="~/img/logo.png" alt=""></a>
        </div>
        <div id="mobile-menu-wrap"></div>
        <div class="offcanvas__auth">
        </div>
    </div>
    <!-- Offcanvas Menu End -->
    <!-- Header Section Begin -->
    <header class="header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-1 col-lg-1">
                    <div class="header__logo">
                        <a href="~/index.html"><img src="~/img/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-xl-9 col-lg-9">
                    <nav class="header__menu">
                        <ul>
                            <li>
                                <a href="~/adotar.html">Adotar <span class="arrow_carrot-down"></span></a>
                                <ul class="dropdown">
                                    <li><a href="/Sheltered/AdoptionList?speciesId=1">Cães</a></li>
                                    <li><a href="/Sheltered/AdoptionList?speciesId=2">Gatos</a></li>
                                    <li><a href="~/matchmaking.html">Matchmaking</a></li>
                                </ul>
                            </li>
                            <li><a href="~/entrega-animal.html">Entrega Animal</a></li>
                            <li><a href="/LostFound/Perdidos">Perdidos e Encontrados</a></li>
                            <li>
                                <a href="~/learn.html">Aprender <span class="arrow_carrot-down"></span></a>
                                <ul class="dropdown">
                                    <li><a href="~/breed-info.html">Raças & Cuidados</a></li>
                                    <li><a href="~/faq.html">Perguntas Frequentes</a></li>
                                </ul>
                            </li>
                            <li><a href="~/partners.html">Parceiros</a></li>
                            <li><a href="~/ajuda.html">Apoiar</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-2">
                    <div class="header__right">
                        <ul class="header__right__widget">
                            <li><span class="icon_search search-switch"></span></li>
                            <li>
                                <a href="/likes/favorites" id="favoritesIcon">
                                    <span class="icon_heart_alt"></span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" onclick="checkUserProfileAccess()">
                                    <span class="icon_profile" data-bs-toggle="modal"
                                          data-bs-target="#authModal"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="canvas__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    <!-- Header Section End -->
    <!-- Login and Register Modal -->
    <div class="modal fade" id="authModal" tabindex="-1" aria-labelledby="authModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content modal-header">
                <div class="modal-body d-flex p-0">
                    <button type="button" class="custom-close-btn" data-bs-dismiss="modal"
                            aria-label="Close">
                        &times;
                    </button>

                    <!-- Left Side - Login/Register Form -->
                    <div class="w-50 p-5">

                        <form id="loginForm" method="post" action="/Account/Login">
                            <h3 class="mb-4 text-center" id="authModalLabel">Iniciar Sessão</h3>
                            <div class="mb-3">
                                <label for="email" class="form-label">Endereço de Email</label>
                                <input type="email" class="form-control" id="email" name="email" placeholder="Insira o seu email" required>
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label">Palavra-passe</label>
                                <input type="password" class="form-control" id="password" name="password" placeholder="Insira a sua palavra-passe" required>
                            </div>
                            <button type="submit" class="btn btn-primary w-100">Entrar</button>
                            <div class="text-center mt-3">
                                <small>Não tem conta? <a href="#" id="switchToRegister">Registar</a></small>
                            </div>
                        </form>

                        <form id="registerForm" method="post" class="d-none" action="/Account/Register">
                            <h3 class="mb-4 text-center">Register</h3>
                            <div class="mb-3">
                                <label for="username" class="form-label">Username</label>
                                <input type="text" class="form-control" id="username" name="Username" placeholder="Enter your username" required>
                            </div>
                            <div class="mb-3">
                                <label for="email" class="form-label">Email</label>
                                <input type="email" class="form-control" id="email" name="Email" placeholder="Enter your email" required>
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label">Password</label>
                                <input type="password" class="form-control" id="password" name="Password" placeholder="Enter your password" required>
                            </div>
                            <div class="mb-3">
                                <label for="phoneNumber" class="form-label">Phone Number</label>
                                <input type="text" class="form-control" id="phoneNumber" name="PhoneNumber" placeholder="Enter your phone number" required>
                            </div>
                            <div class="mb-3">
                                <label for="type" class="form-label">Type</label>
                                <select class="form-control" id="type" name="Type">
                                    <option value="User">User</option>
                                    <option value="Admin">Admin</option>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-primary w-100">Register</button>
                            <div class="text-center mt-3">
                                <small>Já tem conta? <a href="#" id="switchToLogin">Login</a></small>
                            </div>
                        </form>

                        <!-- Placeholder for Popup -->
                        <div id="popupMessage" class="alert alert-danger d-none"></div>


                    </div>

                    <!-- Right Side - Image -->
                    <div class="w-50 d-none d-md-block">
                        <img src="~/img/splitscreen/cao-adotar.jpg" alt="Side Image" class="img-fluid h-100 w-100"
                             style="object-fit: cover;">
                    </div>
                </div>

                <!-- Custom Close Button -->
                <button type="button" class="btn-close custom-close-btn" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
        </div>
    </div>
    <!-- Login Register Model Ends -->
    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <a href="~/index.html"><i class="fa fa-home"></i> Home</a>
                        <a href="~/adotar.html"> Adotar</a>
                        <span>Cães</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->
    <!-- Adoption Section Begin -->
    <section class="adoption spad">
        <div class="container">
            <div class="row">
                <!-- Sidebar for filters (static or dynamic if needed) -->
                <div class="col-lg-3 col-md-3">
                    <div class="sidebar">
                        <div class="sidebar__categories">
                            <div class="filter-buttons">
                                <button id="clear-filters" class="btn btn-primary">Limpar Filtros</button>
                            </div>
                            <div class="categories__accordion">
                                <div class="accordion" id="accordionExample">
                                    <!-- Filtros por Idade -->
                                    <div class="card">
                                        <div class="card-heading">
                                            <a class="collapse-trigger" data-toggle="collapse" href="#collapseAge"
                                               role="button" aria-expanded="true" aria-controls="collapseAge">Idade</a>
                                        </div>
                                        <div id="collapseAge" class="collapse show" data-parent="#accordionExample">
                                            <div class="card-body">
                                                <ul>
                                                    <li>
                                                        <input type="checkbox" class="filter-checkbox" data-type="age" value="0-2"> Filhote (0-2 anos)
                                                    </li>
                                                    <li>
                                                        <input type="checkbox" class="filter-checkbox" data-type="age" value="2-7"> Adulto (2-7 anos)
                                                    </li>
                                                    <li>
                                                        <input type="checkbox" class="filter-checkbox" data-type="age" value="7+"> Idoso (7+ anos)
                                                    </li>
                                                    </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Filtros por Porte -->
                                    <div class="card">
                                        <div class="card-heading">
                                            <a class="collapse-trigger" data-toggle="collapse" href="#collapseSize"
                                               role="button" aria-expanded="true"
                                               aria-controls="collapseSize">Porte</a>
                                        </div>
                                        <div id="collapseSize" class="collapse" data-parent="#accordionExample">
                                            <div class="card-body">
                                                <ul>
                                                    <li>
                                                        <input type="checkbox" class="filter-checkbox" data-type="size"
                                                               value="mini"> Mini
                                                    </li>
                                                    <li>
                                                        <input type="checkbox" class="filter-checkbox" data-type="size"
                                                               value="pequeno"> Pequeno
                                                    </li>
                                                    <li>
                                                        <input type="checkbox" class="filter-checkbox" data-type="size"
                                                               value="medio"> Médio
                                                    </li>
                                                    <li>
                                                        <input type="checkbox" class="filter-checkbox" data-type="size"
                                                               value="grande"> Grande
                                                    </li>
                                                    <li>
                                                        <input type="checkbox" class="filter-checkbox" data-type="size"
                                                               value="gigante"> Gigante
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Filtros por Raça -->
                                    <div class="card">
                                        <div class="card-heading">
                                            <a class="collapse-trigger" data-toggle="collapse" href="#collapseBreed"
                                               role="button" aria-expanded="true"
                                               aria-controls="collapseBreed">Raça</a>
                                        </div>
                                        <div id="collapseBreed" class="collapse" data-parent="#accordionExample">
                                            <div class="card-body">
                                                <ul>
                                                    <li>
                                                        <input type="checkbox" class="filter-checkbox" data-type="breed" value="SRD"> SRD (Sem Raça Definida)
                                                    </li>
                                                    <li>
                                                        <input type="checkbox" class="filter-checkbox" data-type="breed" value="Golden_Retriever"> Golden Retriever
                                                    </li>
                                                    <li>
                                                        <input type="checkbox" class="filter-checkbox" data-type="breed" value="Pastor_Alemao"> Pastor Alemão
                                                    </li>
                                                    <li>
                                                        <input type="checkbox" class="filter-checkbox" data-type="breed" value="Labrador"> Labrador
                                                    </li>
                                                    <li>
                                                        <input type="checkbox" class="filter-checkbox" data-type="breed" value="Bulldog"> Bulldog
                                                    </li>
                                                    <li>
                                                        <input type="checkbox" class="filter-checkbox" data-type="breed" value="Beagle"> Beagle
                                                    </li>
                                                    <li>
                                                        <input type="checkbox" class="filter-checkbox" data-type="breed" value="Rottweiler"> Rottweiler
                                                    </li>
                                                    <li>
                                                        <input type="checkbox" class="filter-checkbox" data-type="breed" value="Poodle"> Poodle
                                                    </li>
                                                    <li>
                                                        <input type="checkbox" class="filter-checkbox" data-type="breed" value="Boxer"> Boxer
                                                    </li>
                                                    <li>
                                                        <input type="checkbox" class="filter-checkbox" data-type="breed" value="Teckel"> Teckel
                                                    </li>
                                                    <li>
                                                        <input type="checkbox" class="filter-checkbox" data-type="breed" value="Chihuahua"> Chihuahua
                                                    </li>
                                                    <li>
                                                        <input type="checkbox" class="filter-checkbox" data-type="breed" value="Doberman"> Doberman
                                                    </li>
                                                    <li>
                                                        <input type="checkbox" class="filter-checkbox" data-type="breed" value="Border_Collie"> Border Collie
                                                    </li>
                                                    <li>
                                                        <input type="checkbox" class="filter-checkbox" data-type="breed" value="Akita"> Akita
                                                    </li>
                                                    <li>
                                                        <input type="checkbox" class="filter-checkbox" data-type="breed" value="Cocker_Spaniel"> Cocker Spaniel
                                                    </li>
                                                    <li>
                                                        <input type="checkbox" class="filter-checkbox" data-type="breed" value="Husky_Siberiano"> Husky Siberiano
                                                    </li>
                                                    <li>
                                                        <input type="checkbox" class="filter-checkbox" data-type="breed" value="Dalmata"> Dálmata
                                                    </li>
                                                    <li>
                                                        <input type="checkbox" class="filter-checkbox" data-type="breed" value="Bull_Terrier"> Bull Terrier
                                                    </li>
                                                    <li>
                                                        <input type="checkbox" class="filter-checkbox" data-type="breed" value="Cavalier_King_Charles"> Cavalier King Charles
                                                    </li>
                                                    <li>
                                                        <input type="checkbox" class="filter-checkbox" data-type="breed" value="Staffordshire"> Staffordshire
                                                    </li>
                                                    <li>
                                                        <input type="checkbox" class="filter-checkbox" data-type="breed" value="Weimaraner"> Weimaraner
                                                    </li>
                                                    <li>
                                                        <input type="checkbox" class="filter-checkbox" data-type="breed" value="Outro"> Outro
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Main Content (Dynamic Cards) -->
                <div class="col-lg-9 col-md-9">
                    <div class="row">
                        @if (Model != null && Model.Any())
                        {
                            foreach (var animal in Model)
                            {
                                <div class="col-lg-4 col-md-6 mb-4 product-item">
                                    <div class="product__item shadow-sm h-100">
                                        <div class="product__item__pic set-bg">
                                            @if (animal.Image != null)
                                            {
                                                string base64Image = Convert.ToBase64String(animal.Image);
                                                <img src="data:image/jpeg;base64,@base64Image" alt="@animal.AnimalName" class="img-fluid product-img" />
                                            }
                                            else
                                            {
                                                <img src="~/img/img-adotar.png" alt="Imagem não disponível" class="img-fluid product-img" />
                                            }
                                            <ul class="product__hover">
                                                @if (animal.Image != null)
                                                {
                                                    <li>
                                                        <a href="data:image/jpeg;base64,@Convert.ToBase64String(animal.Image)" class="image-popup">
                                                            <span class="arrow_expand"></span>
                                                        </a>
                                                    </li>
                                                }
                                                else
                                                {
                                                    <li>
                                                        <a href="~/img/img-adotar.png" class="image-popup">
                                                            <span class="arrow_expand"></span>
                                                        </a>
                                                    </li>
                                                }
                                                <li>
                                                    <a href="#" class="like-button" data-species-id="@animal.IDSpecies" data-animal-id="@animal.IDAnimal">
                                                        <span class="icon_heart_alt"></span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="product__item__text text-center mt-3">
                                            <h6 class="shelter-animal-name">@animal.AnimalName</h6>
                                            <p>
                                                <strong>Raça:</strong> @animal.Breed <br />
                                                <strong>Idade:</strong> @animal.Age anos <br />
                                                <strong>Porte:</strong> @animal.Size
                                                @if (animal.IsSurrendered)
                                                {
                                                    <span class="badge bg-warning ms-1">Entregue</span>
                                                }
                                            </p>
                                            @if (animal.IsSurrendered)
                                            {
                                                <a href="/Sheltered/DetailsSurrender/@animal.IDAnimal" class="btn btn-primary adopt-btn mt-2">Adotar</a>
                                            }
                                            else
                                            {
                                                <a href="/Sheltered/Details/@animal.IDAnimal" class="btn btn-primary adopt-btn mt-2">Adotar</a>
                                            }
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                        else
                        {
                            <p class="text-center">Nenhum cão disponível para adoção no momento.</p>
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Adoption Section End -->
    <!-- Footer -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-7">
                    <div class="footer__about">
                        <div class="footer__logo">
                            <a href="~/index.html"><img src="~/img/logo.png" alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-5">
                    <div class="footer__widget">
                        <h6>Serviços</h6>
                        <ul>
                            <li><a href="adotar.html">Adotar</a></li>
                            <li><a href="entrega-animal.html">Entrega Animal</a></li>
                            <li><a href="breed-info.html">Espécies e Raças</a></li>
                            <li><a href="/LostFound/Perdidos">Perdidos e Encontrados</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4">
                    <div class="footer__widget">
                        <h6>Sobre Nós</h6>
                        <ul>
                            <li><a href="about-us.html">Dinflux</a></li>
                            <li><a href="team.html">Equipa BuscaPatas</a></li>
                            <li><a href="partners.html">Nossos Parceiros</a></li>
                            <li><a href="termos-politicas.html">Termos e Políticas</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4">
                    <div class="footer__widget">
                        <h6>Apoio</h6>
                        <ul>
                            <li><a href="ajuda.html">Ajuda</a></li>
                            <li><a href="abrigos.html">Abrigos</a></li>
                            <li><a href="merch.html">Merchandise</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-8 col-sm-8">
                    <div class="footer__newsletter">
                        <div class="footer__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer End -->
    <!-- Search Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Procure aqui...">
            </form>
        </div>
    </div>
    <!-- Search End -->

    <script>
        $(document).on('click', '.like-button', function (e) {
            e.preventDefault();
            const speciesId = $(this).data('species-id');
            const animalId = $(this).data('animal-id');

            $.ajax({
                url: '/Likes/AddLike',
                method: 'POST',
                data: { speciesId: speciesId, animalId: animalId },
                success: function (response) {
                    alert(response.message);
                },
                error: function (xhr) {
                    const error = xhr.responseJSON?.message || 'An error occurred.';
                    alert(error);
                }
            });
        });

    </script>

    <!-- JS Scripts -->
    <script src="~/js/jquery-3.3.1.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.magnific-popup.min.js"></script>
    <script src="~/js/jquery-ui.min.js"></script>
    <script src="~/js/mixitup.min.js"></script>
    <script src="~/js/jquery.countdown.min.js"></script>
    <script src="~/js/jquery.slicknav.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/jquery.nicescroll.min.js"></script>
    <script src="~/js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/ol@v10.1.0/ol.js"></script>
    <script src="~/js/login-register.js"></script>
    <script src="~/js/scripts.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>

</html>
